/* line 5, sass/app.scss */
.home .recoms {
  width: 440px;
}
/* line 8, sass/app.scss */
.home .profile-panel {
  width: 440px;
  height: 300px;
}
/* line 13, sass/app.scss */
.home .article {
  padding: 5px;
  width: 440px;
}
/* line 18, sass/app.scss */
.home .article:first-child {
  width: 880px;
}
