<section class="panel article">
    <div class="panel-body article-main-wrap" data-dojo-attach-point="mainWrapNode">
        <div class="media">
            <div class="media-left" data-dojo-attach-point="avatarNode">
                <a>
                    <img src="${article.avatar}" alt="${article.username}" class="media-object article-avartar" />
                </a>
            </div>
            <div class="media-body" data-dojo-attach-point="itemDetailsNode">
                <h4 class="media-heading user-info" data-dojo-attach-point="userInfoNode">
                    <a class="username">${article.username}</a>
                </h4>
                <p class="article-text" data-dojo-attach-point="contentTextNode">${article.text}</p>
           <a class="btn btn-material-deep-orange" data-dojo-attach-point="openNode">打开<div class="ripple-wrapper"></div></a>
                <div class="photos-wrap col-sm-12">
                    <ul class="list-inline photo-list hide col-sm-6" data-dojo-attach-point="photoListNode"></ul>
                </div>
                <div class="reshare-wrap" data-dojo-attach-point="reshareTextNode"></div>
                <small class="article-time" data-dojo-attach-point="timeNode" datetime="${article.isoTime}">${article.time}</small>
            </div>
            <div class="actions-wrap hide" data-dojo-attach-point="actionWrapNode">
                <i class="${fontAwesome.ellipsis}" data-dojo-attach-point="toggleActionsNode"></i>
                <ul class="list-group shadow-z-1 hide" data-dojo-attach-point="actionListNode">
                </ul>
            </div>
        </div>
    </div>
    <div class="article-opts-wrap">
        <ul class="article-opts-list nav nav-pills nav-justified" data-dojo-attach-point="linksNode">
            <li class="link-item withripple" data-dojo-attach-point="favouriteLinkNode" title="${nls.favourite}">
                <a> <i class="${fontAwesome.star}"></i>
                    <span class="num" data-dojo-attach-point="favouriteCountNode">${article.favouriteCount}</span>
                </a>
            </li>
            <li class="link-item withripple" data-dojo-attach-point="reshareLinkNode"  title="${nls.reshare}">
                <a> <i class="${fontAwesome.retweet}"></i>
                    <span class="num" data-dojo-attach-point="reshareCountNode" >${article.reshareCount}</span>
                </a>
            </li>
            <li class="link-item last-item withripple" data-dojo-attach-point="likeLinkNode"  title="${nls.like}">
                <a>
                    <i class="${fontAwesome.thumbUp}"></i>
                    <span class="num" data-dojo-attach-point="likeCountNode" >${article.likeCount}</span>
                </a>
            </li>
        </ul>
        <div class="media">
            <li class="media-left link-item withripple" data-dojo-attach-point="commentLinkNode"  title="${nls.comment}">
                <a>
                    <i class="${fontAwesome.comment}"></i>
                    <span class="num" data-dojo-attach-point="commentCountNode"  >${article.commentCount}</span>
                </a>
            </li>
            <div class="media-body" data-dojo-attach-point="commentsListNode"></div>
        </div>
        </div>
    </div>
</section>
