<section class="panel article timeline-item  blog-article" style="position: absolute; left: 0px; top: 120px;">
    <div class="panel-body article-main-wrap" data-dojo-attach-point="mainWrapNode">
        <div class="media">
            <div class="media-left" data-dojo-attach-point="avatarNode">
                <a>
                    <img src="/filesystem/avatar/1/thumb_a5a7f9bb382c2e81d457bd60491d1846.jpeg" alt="hudao" class="media-object article-avartar">
                </a>
            </div>
            <div class="media-body" data-dojo-attach-point="itemDetailsNode">
                <h4 class="media-heading" data-dojo-attach-point="userInfoNode">
                    <a class="username">hudao</a>
                </h4>
                <div class="shareText">来自:博客
                </div>
                <div class="reshare-wrap" data-dojo-attach-point="reshareTextNode"></div>
            </div>
                <div class="shareBlog col-sm-12" data-dojo-attach-point="contentTextNode">
                    <div class="clearfix" data-dojo-attach-point="openNode">
                        <div class="media-left"><i class="image-file fa fa-file-image-o"></i></div>
                        <div class="media-right">
                            <a class="postTitle " target="_blank">wefw</a>
                            <div class="post ">
                                <span class="postText">文章内容无法显示</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="photos-wrap col-sm-12" style="display:block">
                    <ul class="list-inline photo-list hide col-sm-6" data-dojo-attach-point="photoListNode">精彩评论精彩评论精彩评论精彩评论精彩评论</ul>
                </div>
                <small class="article-time col-sm-12" data-dojo-attach-point="timeNode" datetime="2015-09-11T06:57:55Z">4天前</small>
            <div class="actions-wrap" data-dojo-attach-point="actionWrapNode">
                <i class="fa fa-ellipsis-v" data-dojo-attach-point="toggleActionsNode"></i>
                <ul class="list-group shadow-z-1 hide" data-dojo-attach-point="actionListNode">
                <li class="list-group-item action-item"><a>删除</a></li><li class="list-group-item action-item"><a>查看</a></li></ul>
            </div>
        </div>
    </div>
    <div class="article-opts-wrap">
        <ul class="article-opts-list nav nav-pills" data-dojo-attach-point="linksNode">
            <li class="link-item withripple" data-dojo-attach-point="favouriteLinkNode" title="收藏">
                <a> <i class="fa fa-star-o"></i>
                    <span class="num" data-dojo-attach-point="favouriteCountNode">0</span>
                </a>
            </li>
            <li class="link-item withripple" data-dojo-attach-point="reshareLinkNode" title="转发">
                <a> <i class="fa fa-retweet"></i>
                    <span class="num" data-dojo-attach-point="reshareCountNode">0</span>
                </a>
            </li>
              <li class="link-item last-item withripple" data-dojo-attach-point="likeLinkNode" title="赞">
                <a>
                    <i class="fa fa-thumbs-o-up"></i>
                    <span class="num" data-dojo-attach-point="likeCountNode">0</span>
                </a>
            </li>          

        </ul>
        <div class="media">
            <li class="media-left link-item withripple" data-dojo-attach-point="commentLinkNode" title="评论">
                <a>
                    <i class="fa fa-comment-o"></i>
                    <span class="num" data-dojo-attach-point="commentCountNode">0</span>
                </a>
            </li>
             <div class="media-body">
        <div class="header-desc" data-dojo-attach-point="headerDesc"></div>
        <div class="inset" data-dojo-attach-point="publishNode">
          <textarea class="post-input input" placeholder="来说点啥吧？" data-dojo-attach-point="inputNode"></textarea><ul class="post-actions list-inline"><li title="表情"><i class="fa fa-smile-o"></i></li><li title="发布" class="pull-right postLi"><a class="btn btn-primary btn-sm disabled">发布</a></li><li title="words left" class="pull-right">140</li></ul>
          <div class="load-wrap" data-dojo-attach-point="loadWrapNode">
            <section class="loaders">
              <span class="loader loader-quart"></span>
              Posting ...
            </section>
          </div>
        </div>
      </div>
            </div>
    </div>
</section>